.current_weather{
    width: 50vw;
    height: 30vh;
    background-color: rgb(62, 55, 43);
    margin-top: 80px;
    padding: 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 30px rgb(255, 94, 0);
    color: wheat;
    
}
.temp_content{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.temp_details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}