.search_div{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 200, 127);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left_search_div{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid blue;
}
.search_input{
    padding: 19px;
    border: 1px solid blue;
    outline: none;
    width: 30vw;
    border-radius: 15px 0px 0px 15px;
    font-size: medium;

}
.search_btn{
    padding: 20px;
    border: 1px solid blue;
    outline: none;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    cursor: pointer;

}

.right_search_div{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.temp-btn{
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;

}