.search_div{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.search_left{
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 3px solid black;
   
}
.search_left > div{
    width: 45%;
}
.search_input{
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 15px 0px 0px 15px;
    width: 60%;
    font-size: medium;
    text-align: center;
}
.search_btn{
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-size: medium;

}

.search_right{
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.temp_btn{
    margin-top: 2px;
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 10px;
    box-shadow: 10px -5px 55px rgb(255, 60, 0);
    cursor: pointer;
    font-size: medium;
}
.temp_btn:hover{
width: 80px;
font-size: larger;
background-color: black;
color: whitesmoke;
border: 2px dotted whitesmoke;

}
